
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
@model List<todobimal.Models.TasksList>





<h1>My Task Lists</h1>
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>@list.Task</td>
                <td>@list.Description</td>
                <td>@list.Status</td>
                <td><a href="/Home/Privacy?id=@list.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>